<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Saboyano.est.MobileBrowserTest"/>
      <class name="Saboyano.est.SwipeDemo"/>
      <class name="Saboyano.est.DragaAndDrop"/>
      <class name="Saboyano.est.LongPress"/>
      <class name="Saboyano.est.eCommerceTestCase1"/>
      <class name="Saboyano.est.ScrollDemo"/>
      <class name="Saboyano.est.MisceallanousAppiumActions"/>
      <class name="Saboyano.est.AndroidApp"/>
      <class name="Saboyano.est.SampleTest"/>
      <class name="Saboyano.est.TestCaseEcommerce3"/>
      <class name="Saboyano.est.TestCaseEcommerce2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
